@import "compass";
@import "mixins";

$line-num-width: 40px;
$line-num-x-padding: 4px;
$base-font-size: 13px;
$code-x-padding: 1em;

$header-bg: #20201E;
$code-bg: #2b2a27;
$line-num-bg: #1C180D;

@import "peacock";
@import "normalize";

body, html {
  background: $code-bg;
  height: 100%;
}

header {
  background: $header-bg;
  padding: 0 1em;
  z-index: 90;
  position: relative;
  overflow: hidden;
}

@include keyframes("wee") {
  25% {color: rgba(white, .7); @include rotate(2deg)}
  50% {color: white; @include rotate(0)}
  75% {color: rgba(white, .7); @include rotate(-2deg)}
  100% {color: white; @include rotate(0)}
}

h1 {
  font-weight: normal;
  margin: 0 0 0 $line-num-width + $line-num-x-padding;

  a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    color: rgba(white, .7);
    display: inline-block;

    &:hover {
      color: white;
      -webkit-animation: wee .6s linear infinite;
    }
  }
}

.highlighttable {
  width: 100%;
  line-height: 18px;

  .linenos {
    position: relative;
    padding: 0 $line-num-x-padding;
    z-index: 90;
    text-align: right;
    color: gray;
  }
  .highlight {
    padding-left: $code-x-padding;
    .placeholder {
      color: gray;
    }
  }
}

kbd {
  border: 1px solid rgba(gray, .3);
  @include border-radius(2px);
  padding-left: 3px;
  padding-right: 3px;
}

.linenos {
  background: $line-num-bg;
  width: $line-num-width - $line-num-x-padding;

  &.absolute {
    position: absolute;
    width: $line-num-width + $line-num-x-padding;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
}

